@import "tailwindcss";
@import "tailwindcss/utilities";

@theme {
 --color-terracota: #9A4A3A;     /* Marrón Terracota (Fondos oscuros, Footers*/
 --color-grisvolcan: #3E3F41;   /* Gris Volcánico (Navbar, Footers, Texto oscuro)*/
 --color-rojoquemado: #B92B27; /*Rojo Quemado (Botones CTA, Acentos*/
 --color-verdenopal: #5A7D5E: /*Verde Nopal (Acentos, Botones secundarios, Éxito)*/
 --color-blancohueso: #F8F6F1; /* Blanco Hueso (Fondo de lectura principal)*/
 --color-fondo: #F0E5D1; /*Beige Maíz (Fondos de sección secundarios)*/
 --color-parrafo: #2E2E2E; /* Gris Párrafo (Texto principal)*/

  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;


}

body {
  @apply  font-serif bg-fondo ;
}